
CC 		?= cc
HOSTCC 		?= ${CC}
CPP 		?= ${CC} -e
AR 		?= ar
AWK 		?= awk
LD 		?= ld
RANLIB 		?= ranlib
STRIP 		?= strip

CHMOD 		= chmod
FIND 		= find
INSTALL 	= install
LN 		= ln
RM 		= rm

PREFIX 		?= /usr/local
BINDIR 		= ${PREFIX}/bin
INCDIR 		= ${PREFIX}/include
LIBDIR 		= ${PREFIX}/lib
PKGCONFDIR 	= ${LIBDIR}/pkgconfig
DATAROOTDIR 	= ${PREFIX}/share
MANDIR 		= ${DATAROOTDIR}/man
SYSCONFDIR 	= ${PREFIX}/etc

CFLAGS 		?= -g -g1 -O3
